<style>
    table thead{
    background-color: rgb(0, 225, 255);
   
   }
   table{
       
       border: 2px solid red;
       
       background-color: yellow;
       width: 80%;
       height: 200px;
   }
   
   h1{
       background-color: yellow;
   }
   table td{
       
       border: 1px solid red;
       
       background-color: yellow;
   }
</style>
<h1>Book</h1>
<table>
    <thead>
        <th> ID </th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of books">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>

            <td>{{product.author}}</td>
            <td>{{product.price}}</td>

        </tr>
    </tbody>
</table>