<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	<bean name="employee" class="qualifer.Employee"  > </bean>
	<bean name="address1" class="qualifer.Address" p:num="123" p:street="Pallet town" p:city="Kanto"  > </bean>
	<bean name="address2" class="qualifer.Address" p:num="234" p:street="Hidden Leaf" p:city="Fire Nation"  > </bean>
	
	
	
 </beans>