.taskbar { 
    background-color: #dde3e5; 
    color: white; 
    height: 50px; 
    position: flex; 
    bottom: 100; 
    width: 100%; 
} 
.taskbar-fields {

    display: inline-flex;
    justify-content: flex-end;
     justify-content:center;
    padding: 0 10px; 
   

    
} 
    

