<!DOCTYPE html>
<html>
  <head> 

  </head>


  <body>
    <nav>
      <table>

      </table>
      <div class="taskbar">
        <a class="taskbar-fields" routerLink="/home"> Home </a>
        <a class="taskbar-fields" routerLink="/product"> Product </a>
        <a class="taskbar-fields" routerLink="/about"> About </a>
        <a class="taskbar-fields" routerLink="/contact"> Contact </a>
        <a class="taskbar-fields" routerLink="/career"> Career </a>

        


      </div>
    </nav>
    <router-outlet></router-outlet>
  </body>

</html>

